{% extends "layout.html" %}
{% block content %}
    <h1>Comparison</h1>
    
    <div id = "chart"></div>

    <form method = "POST">
      <p class="input-field"><input type = "text" name = "Name" size="5"/></p>
        <p class="input-field"><input type = "submit" value="Reset" size="3"/></p>
   </form>


    <!--plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      var graph1 = {{ lineJSON | safe}};
      Plotly.plot("chart", graph1, {})
    </script>
{% endblock %}