{% extends "layout.html" %}
{% block content %}
    <page-title>OVERVIEW</page-title>

    <div>
      <div style="width:40%; height:auto; float:left; display:inline"><div class="chart-title">
        <a>Position</a></div></div>
      <div style="width:60%; height:auto; float:left; display:inline"><div class="chart-title">
        <a>Compare</a></div></div>
      <div style="width:40%; height:auto; float:left; display:inline"><div id = "chart2"></div></div>
      <div style="width:60%; height:auto; float:left; display:inline"><div id = "chart1"></div></div>
    </div>

    <div style="width:100%; height:auto; float:left; display:inline">
      <div class="chart-title">
          Cost:  <a style="color:rgb(107, 107, 107)"> $ {{ cost }}</a>  | Value: <a style="color:rgb(107, 107, 107)"> $ {{ value }}</a> | Net: <a style="color:rgb(107, 107, 107)"> $ {{ net }}</a>
      </div>



    <!--plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      var graph1 = {{ lineJSON | safe}};
      Plotly.plot("chart1", graph1, {})

      var graph2 = {{ pieJSON | safe}};
      Plotly.plot("chart2", graph2, {})
    </script>
{% endblock %}
