{% extends "layout.html" %}
{% block content %}
    <page-title>IMPORT</page-title>
    <div>
      <div class="chart-title">
        <a > Formate your .csv as below</a>
        <a > Rerun the script after upload</a>
            
        <table class="table">
          <tr>
          <th class="table-ekaw">Date</th>  
          <th class="table-ekaw">Ticker</th>
          <th class="table-ekaw">Price</th>
          <th class="table-ekaw">Amount</th>
          </tr>
          <tr>
            <td class="table-3nop">2022-03-29</td>
            <td class="table-3nop">SPY</td>
            <td class="table-3nop">420.69</td>
            <td class="table-3nop">2</td>
          </tr>
          <tr>
            <td class="table-3nop">2022-08-03</td>
            <td class="table-3nop">QQQ</td>
            <td class="table-3nop">300.03</td>
            <td class="table-3nop">3</td>
          </tr>
      </table>

    </div>

    
    <form method=post action="" enctype=multipart/form-data>
      <p class="center-field"> <input type=file  id=file name=file accept=".csv">
                                <label for= "file">{{ msg }}</label></p>
        <p class="center-field"> <input type=submit value=Upload size="3"> </p>
    </form>

  
{% endblock %}